* {
    background-color: black;
    color: aliceblue;
    font-family: 'Jua', sans-serif;
}

html {
    font-size: 17px;
}

h1{
    text-align: center;

}
h2 {
    text-align: center;
    background-color: whitesmoke;
    color: black;

}
.infobt {
    display: flex;
    margin-left: 71%;
    height: 20%;
}
.wrap {
    display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.grid-column {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu {
    margin-left: 40.5rem;
    height: 1000px;
    padding-inline: 2rem;
    background-color: whitesmoke;
    color: whitesmoke;
    width: 40%;
    border-radius: 5px;
    text-align: center;
}

.menu button{
    width:100%;
    background-color: black;
    color: whitesmoke;
    margin-bottom: .5rem;
    padding: .25rem;
    font-size: 1.5rem;
    border-radius: 3px;
}


.menu-modal{
    display: none;
    background-color: black;
    margin-bottom: .5rem;
    margin-top: -.5rem;
    padding: 1rem;
    overflow-y: auto;
    max-height: 15rem;
    font-size: 1.3rem;
}
  
.menu-modal input {
    font-size: 1.3rem;
    margin-bottom: .25rem;
    margin-top: .25rem;
    border: 1px solid #09FBD3;
    border-radius: 3px;
}

@media screen and ( max-width: 400px) {
        
    * {
        background-color: black;
        color: aliceblue;
        font-family: 'Jua', sans-serif;
    }
    
    html {
        font-size: 17px;
    }
    
    .infobt {
        position: absolute;
        display: flex;
        margin-left: 88%;
        margin-top: 10%;
        height: 2.5%;
    }
    .wrap {
        display: flex;
      flex-wrap: wrap;
      justify-content: start;
    }
    
    .grid-column {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .menu {
        margin-left: 0rem;
        height: 700px;
        padding-inline: 2rem;
        background-color: whitesmoke;
        color: whitesmoke;
        width: 100%;
        border-radius: 5px;
    }
    
    .menu button{
        width:100%;
        background-color: whitesmoke;
        color: black;
        margin-bottom: .5rem;
        padding: .25rem;
        font-size: 1rem;
        border-radius: 3px;
        
        text-align: center;
    }
    
    h1{
        text-align: center;
        font-size: 1.3rem;
    
    }
    h2 {
        text-align: center;
        background-color: whitesmoke;
        color: black;
    
    }
    .menu-modal{
        display: none;
        background-color: black;
        margin-bottom: .5rem;
        margin-top: -.5rem;
        padding: 1rem;
        overflow-y: auto;
        max-height: 25rem;
        font-size: 1.1rem;
    }
      
    .menu-modal input {
        font-size: 1.3rem;
        margin-bottom: .25rem;
        margin-top: .25rem;
        border: 1px solid #09FBD3;
        border-radius: 3px;
    }
    
}