* {
    /* font-family: 'Press Start 2P', cursive; */
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    font-family: 'Jua', sans-serif;
}
html {
    font-size: 15px;
}
.wrap {
    /* margin: 15px 0 0 35%; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: fit-content;
}

.main-cnt {
    padding: 1vw;
}

.side-cnt {
    padding: 1vw;
    font-size: 2rem;
}

.main-board {
    width: 500px;
    height: 1000px;
    border: 2px solid white;
}

.side-board {
    margin: 6% 0 0 0;
    width: 200px;
    height: 200px;
    border : 2px solid white;
}

.start {
    background-color: #227aec;
    border: 2px solid #1d42e6;
    color: #d7e5ff;
    text-align: center;
}
.pause {
    background-color: #e4a656;
    border: 2px solid #d36a15;
    color: #4e3513;
    text-align: center;
}
.quit {
    background-color: #33ce24;
    border: 2px solid #408d0d;
    color: #194d09;
    text-align: center;
}

.remove-line {
    color: #ffa4ff;
}

.up-level {
    color: #ffdb76;
}

.add-score {
    color: #a4c4ff;
}
/* 
@media ( max-width: 480px ) {
    html {
        font-size: 20px;
    }
    .wrap {
        margin: 40% 0 0 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: fit-content;
    }

    .main-board {
        width: 400px;
        height: 1000px;
        border: 2px solid white;
    }
    
    .side-board {
        margin: 9% 0 0 0;
        width: 180px;
        height: 180px;
        border : 2px solid white;
    }
} */