<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="../client/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
<body>
    <div class="wrap">
        <p>
          <div id="leaderboard" class="menu-modal">
          </div>
        </p>
        <div class="main-cnt" >
            <canvas id="main-board" class="main-board"></canvas>
          </div>
          <div class="sub-cnt">
            <canvas id="sub-board" class="sub-board"></canvas>
            <p><h3 id="nickname"><%=nickname%></h3></p>
            <p>레벨: <span id="level"></span><span id="levelUp" class="levelUp"></span></p>
            <p>점수: <span id="score"></span><span id="addScore" class="addScore"></span></p>
            <p>라인: <span id="lines"></span><span id="removeLines" class="removeLines"></span></p>
            <p>최고 점수: <span id="highScore"></span></p>
            <p><button id="start" onclick="start()" class="start">게임 시작</button></p>
            <p><button id="pause" onclick="pause()" class="pause">일시 정지</button></p>
            <p><button id="quit" onclick="quit()" class="quit">게임 종료</button></p>
            <p><span id="end-game" class="end-game"></span></p>
            <p><button id="show-leaderboard" class="show-leaderboard">Leader Board</button><br></p>
            <p><button id="main" class="main"><a href="/api/main">메인화면</a></button><br></p>
            <div id="bottom-cnt" class="bottom-cnt">
              <div id="keypad" class="keypad">
                <div class="arrowKeyCnt">
                  <div class="arrowKeyUp">
                    <button id="upKey" class="rotation" onclick="pressKey(38)">돌리기</button>
                    <button id="downKey" class="down" onclick="pressKey(40)">내리기</button>
                  </div>
                  <br>
                  <div class="arrowKeyDown">
                    <button id="left" class="arrow" onclick="pressKey(37)">←</button>
                    <button id="right" class="arrow" onclick="pressKey(39)">→</button>
                  </div>
                </div>
                <br>
                <button id="space" class="space" onclick="pressKey(32)">드랍</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <script>
        let loggedin = '<%=loggedin%>'
    </script>
    <script src="/client/js/api.js"></script>
    <script src="/client/js/display.js"></script>
    <script src="/client/js/rules.js"></script>
    <script src="/client/js/board.js"></script>
    <script src="/client/js/piece.js"></script>
    <script src="/client/js/main.js"></script>
    </body>
</body>
</html>