<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HEETETRIS</title>
    <link rel="stylesheet" href="../client/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
      <div class="wrap">
        <button id="infobt" onclick="displayGameStart ()">?</button>
        <div class="grid-column menu">
          <h1><a href="/api/tetris">Tetris</a></h1>
            <% if(!loggedin) { %>
              <button id="login-button" onclick="displayLogin()">Login</button><br>
              <div id="login" class="menu-modal">
                <form method="POST" action="/api/login">
                  <label for="id">ID: </label>
                  <input type="text" name="id"><br>
                  <label for="password">Password: </label>
                  <input type="password" name="password"><br>
                  <input id="submitUser" type="submit" value="Login">
                </form>
              </div>
              <button id="signup-button" onclick="displaySigniup()">Signup</button><br>
            
              <div id="signup" class="menu-modal">
                <form method="post" action="/api/signup">
                  <label for="id">ID: </label>
                  <input type="text" name="id"><br>
                  <label for="password">Password: </label>
                  <input type="password" name="password"><br>
                  <label for="nickname">Nick-Name: </label>
                  <input type="text" name="nickname"><br>
                  <input id="submitUser" type="submit" value="Signup">
                </form>
              </div>
            <% } else { %>
              <h2 id="nickname"><%=nickname%></h2>
              <button id="logout-button"><a href="/api/logout">Logout</a></button><br>
            <% } %>
          <button id="game-start"><a href="/api/tetris">게임 시작</a></button>
          <div id="info" class="menu-modal">
          </div>
        </div>
        
    <script>
      let loggedin = '<%=loggedin%>'
      const loginButton = document.querySelector('#login-button')
      const signupButton = document.querySelector('#signup-button')
      const logoutButton = document.querySelector('#logout-button')
    </script>
    <script src="/client/js/api.js"></script>
    <script src="/client/js/display.js"></script>
  </body>
</html>